<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./header') %>
    </head>
<body>

   <section class="hero">

    <div class="hero_overlay"></div>
    <img class="hero_image"src="/images/landing-background2.jpg" alt="">


    <div class="hero_content h-100 container-custom position-relative">
        <div class="d-flex h-100 align-items-center hero_content-width">
            <div class="text-white">
            <h1 class="hero__heading fw-bold mb-4 ">KTT TECHNICAL EVALUATION</h1>
            <p>Ricardo Alberto Gómez Quijano</p>
            <a class="mt-2 btn btn-lg btn-outline-light" role="button" href="/region/america/top20">Start</a>
        </div>
        </div>
    </div>



   </section>
</body>
</html>