<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./header') %>
    </head>
<body>
    <div class="d-flex flex-column">
        <section id="navbar"><%- include('./navbar') %> </section>
        <div class="d-flex">
            <section id="sidebar">
                <%- include('./sidebar') %>
            </section>
             <section id="main-content ">
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
                <h1>HOLA MUNDO</h1>
             </section>
        </div>
    </div>
   
</body>
</html>