<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inner py-4">
    <div class="container-fluid text-light">
      <a class="navbar-brand text-light text-center" href="/">KTT TECHNICAL EVALUATION</a>
      <button class="navbar-toggler border border-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-lg-none ">
          <li class="nav-item "> <a class="nav-link p-3 <%= america %> " href="/region/america/top20"> <i class="fa-solid fa-earth-americas px-2"></i> TOP 20 LARGEST AMERICA COUNTRIES </a></li>
          <li class="nav-item "> <a class="nav-link p-3  <%= europe %> " href="/region/europe/top20"> <i class="fa-solid fa-earth-europe px-2"></i> TOP 20 POPULATED EUROPE COUNTRIES </a></li>
          <li class="nav-item "> <a class="nav-link p-3  <%= africa %> " href="/region/africa/arabic"> <i class="fa-solid fa-earth-africa px-2"></i> ARABIC SPEAKERS COUNTRIES AFRICA </a></li>
          <li class="nav-item "> <a class="nav-link p-3    <%= dashboard %>" href="/region/dashboard"> <i class="fa-solid fa-chart-pie"></i> Dashboard </a></li>
         </ul>
      </div>
    </div>
  </nav>