<div class="container-fluid h-100 bg-dark p-xl-5 py-lg-5">
    <div class="row h-25" >
      <div class="col-12 h-75 text-center">
          <img class="img-fluid img-thumbnail h-100 mx-auto rounded mx-auto d-block" src="/images/profilepic2.jpg" alt="profile picture">
      </div>
      <div class="col-12 h-25 d-flex justify-content-center align-items-center">
        <h3 class=" h4 text-light"> Ricardo Gómez</h1>
          <hr>
      </div>
    </div> 
    <hr class="text-secondary">
    <div class="row h-75 ">
      <div class="col h-100 py-xl-5 py-lg-5">
       <ul class="nav nav-pills flex-column">
        <li class="nav-item "> <a class="nav-link p-xl-3 text-light <%= america %>" href="/region/america/top20"> <i class="fa-solid fa-earth-americas px-2 h6"></i> TOP 20 LARGEST AMERICA COUNTRIES </a></li>
        <li class="nav-item "> <a class="nav-link p-xl-3 text-light <%= europe %>" href="/region/europe/top20"> <i class="fa-solid fa-earth-europe px-2 h6"></i> TOP 20 POPULATED EUROPE COUNTRIES </a></li>
        <li class="nav-item "> <a class="nav-link p-xl-3 text-light <%= africa %>" href="/region/africa/arabic"> <i class="fa-solid fa-earth-africa px-2 h6"></i> ARABIC SPEAKERS COUNTRIES AFRICA </a></li>
       </ul>
      </div>
    
    </div>
</div>


