<div class="container-fluid h-100 bg-dark">
    <div class="row h-25 border-bottom border-light" >
      <div class="col-12 h-75 ">
          <img class="img-fluid"src="/images/" alt="profile picture">
      </div>
      <div class="col-12 h-25 d-flex">
        <h3 class="mx-auto my-auto text-light"> Ricardo Gómez</h1>
          <hr>
      </div>
     
    </div> 
    
    <div class="row h-75 ">
      <div class="col h-100 py-5">
       <ul class="nav nav-pills flex-column">
        <li class="nav-item "> <a class="nav-link p-3 text-light <%= america %>" href="/region/america/top20"> <i class="fa-solid fa-earth-americas px-2"></i> TOP 20 LARGEST AMERICA COUNTRIES </a></li>
        <li class="nav-item "> <a class="nav-link p-3 text-light <%= europe %>" href="/region/europe/top20"> <i class="fa-solid fa-earth-europe px-2"></i> TOP 20 POPULATED EUROPE COUNTRIES </a></li>
        <li class="nav-item "> <a class="nav-link p-3 text-light <%= africa %>" href="/region/africa/arabic"> <i class="fa-solid fa-earth-africa px-2"></i> ARABIC SPEAKERS COUNTRIES AFRICA </a></li>
       </ul>
      </div>
    
    </div>
</div>


